/* SUB-MENU */
.sub-menu__body{
    margin-top: 30px;
    /* position: sticky;
    top: 0;
    z-index: 3; */
}
.sub-menu__list{
    display: flex;
    justify-content: space-around;
}
.sub-menu__link{
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.05em;
}
.sub-menu__item{
    list-style: none;
    padding: 6px 0;
}
.sub-menu__item:hover{
    padding-bottom: 3px;
    border-bottom: 3px solid #4169E1;
}

/* SECTION GRID*/
.section__block{
    margin: 30px 0;
}
.row__tittle{
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section__titles{
    font-weight: 700;
    font-size: 32px;
}
.section__text-more{
    font-weight: 700;
    font-size: 24px;
}
.section__grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}
.grid__items{
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.items__img{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.block___figcaption{
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.479);

    padding: 20px 20px 10px 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
}
.grid__items:hover .block___figcaption{
    transition: all .5s ease;
    opacity: 1; 
    overflow: visible;
}
.grid__figcaption{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    margin-right: 20px;
}
.grid__icons{
    display: flex;
}
.icon_like{
    margin-right: 15px;
}
.icon_like, .icon_more{
    max-width: 32px;
    height: auto;
}


/*--------------------
     @media
----------------------*/
@media screen and (max-width: 1200px){
    .section__grid{
        grid-template-columns: auto auto;
    }
    .grid__items:last-child{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .section__grid{
        grid-template-columns: auto;
        gap: 20px;
    }
    .grid__items{
       margin: 0 10px;
    }
    .grid__items:last-child{
        display: none;
    }
    .sub-menu__link{
        font-size: 20px;
    }
    .section__titles{
        font-size: 24px;
    }
    .section__text-more{
        font-size: 20px;
    }
    .main .container{
        padding: 0 10px;
    }
}